body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.quote-card-container {
  margin-top: 100px;
  padding: 40px;
}

.quote-card {
  padding: 10px;
  margin: auto;
}
