{% load static %}
<!-- bootstrap -->
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'img/ReminderApp_Logo.ico' %}"
      type="image/x-icon"
    />
    <!-- document title -->
    <title>ReminderApp | Contacts</title>
    <!-- css file -->
    <link rel="stylesheet" href="{% static 'app/css/styles.css' %}" />
    <!-- bootstrap css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- body container -->
    <div class="conteiner-fluid filter-group">
      <!-- breadcrumb -->
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'app' %}">App</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Contacts</li>
          <!-- if -->
          {% if current_user %}
          <!-- if -->
          <li class="breadcrumb-item">
            <span
              class="user-alert alert-success fw-light fst-italic"
              role="alert"
              >logged in as: {{current_user}}</span
            >
          </li>
          <!-- endif -->
          {% endif %}
          <!-- endif -->
        </ol>
      </nav>

      <div class="container misc-content filter-group">
        <div class="row">
          <div class="col-6">
            <div class="card about-image" style="width: 18rem">
              <img
                src="{% static 'img/ReminderApp_Logo.png' %}"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <p class="card-text text-center">
                  Reminder app by
                  <a href="https://github.com/LoisaKitakaya">Freedom Loisa</a>
                  <br />
                  <span>copyright © 2022 Freedom Loisa</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 contact-icons text-end">
            <a href="#">
              <span>github</span>
              <img src="{% static 'img/github.svg' %}" alt="" />
            </a>
            <a href="#">
              <span>facebook</span>
              <img src="{% static 'img/facebook.svg' %}" alt="" />
            </a>
            <a href="#">
              <span>twitter</span>
              <img src="{% static 'img/twitter.svg' %}" alt="" />
            </a>
            <a href="#">
              <span>whatsapp</span>
              <img src="{% static 'img/whatsapp.svg' %}" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="{% static 'app/js/main.js' %}"></script>
</html>
