body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  /* width: auto; */
}

.filter-group {
  margin: 20px;
}

.app-logo {
  width: fit-content;
  border-radius: 5px;
  margin: auto;
}

.reminder-card {
  margin-top: 20px;
  margin-right: 40px;
}

.card_reminder {
    margin: 20px;
}

.user-alert {
  padding: 0 5px;
  border-radius: 3px;
  border: 1px solid black;
}

.form-card {
  margin-top: 20px;
  width: 50%;
  margin: auto;
  padding: 20px;
}